body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

body {
  background-image: url("./images/Frostcopy.png");
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 600px;
  font-family: 'Noto Sans KR', sans-serif;
  background-position: top center !important;
  background-size: cover;
}

.navbar-dark {
  background-color: #4682B4 !important;
  height: 85px;
  color: white;
}

.display-4 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  
}

.col-md-8 {
  height: 100%;
  margin-top: 20px;
  padding-top: 20px;
  margin: 0 auto;
}

.card-deck {
  margin: 0 auto;
  padding-top: 20px;
}

#citySearch {
  padding-top: 20px;
  color: #00072d !important;
}

.col-sm-12 {
  margin: 0 auto;
  background-color: #4682B4;
  height: 240px;
}

#searchButton {
 background-color: #67C8FF;
 color: white;
}

.text-center {


}

.card{
  background-color: #00072d;
  color: white;
  border: .5px solid #4682B4;
}